<div class="container-fluid" id = "content">
  <div class="card" style="width: 400px;">
    <div class="card-body">
      <h5 class="card-title text-center">Вход</h5>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Пароль</label>
          <input type="password" class="form-control" id="password">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Войти</button>
        </div>
        <div class="d-grid gap-2 mt-3">
          <a href="/register" class="btn btn-secondary">Зарегистрироваться</a>
        </div>
      </form>
    </div>
  </div>
</div>