<div class="container-fluid" id = "content">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Вход</h5>
            <form>
                <div class="mb-3">
                    <label for="name-register-input" class="form-label">ФИО</label>
                    <input type="text" class="form-control" id="name-register-input" placeholder="Иванов Иван Иванович">
                </div>
                <div class="mb-3">
                    <label for="birth-register-input" class="form-label">ФИО</label>
                    <input type="datetime-local" class="form-control" id="birth-register-input" placeholder="дд.мм.гггг">
                </div>
                <div class="mb-3">
                    <label for="gender-register-input">Пол</label>
                    <select id="gender-register-input">
                        <option value="Male">Мужчина</option>
                        <option value="Female">Женщина</option>
                    </select>

                    <button id="submit">Отправить</button>
                </div>
                <div class="mb-3">
                    <label for="email-register-input" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email-register-input" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
</div>