<div class="d-flex flex-column w-75">
    <div class="w-100 mt-3 mb-3">
        <div class="card-body">
            <ul class="list-group" id="authors-list">
                <li class="list-group-item d-none d-flex align-items-center male-profile">
                    <div class="position-relative me-3">
                        <img src="/resources/avatars/{16C0810A-CF51-4B06-B00F-894B202827C9}.png" alt="Avatar"
                             class="rounded-circle" style="width: 50px; height: 50px;">
                        <i class="fas fa-crown d-none position-absolute top-0 start-50 translate-middle-x"></i>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-inline">
                            <a href="#" class="text-decoration-none fw-bold text-dark user-name" data-navigo >user</a>
                            <span class="fst-italic text-muted user-create-time ms-2">Создан: 21.12.2022</span>
                        </div>
                        <span class="text-muted user-birthday d-block mt-1">Дата рождения: 15.02.2000</span>
                    </div>
                    <div class="d-flex ms-auto gap-2">
                        <span class="btn btn-primary likes-count enabled" style="pointer-events: none; opacity: 1; cursor: default; min-width: 120px;">Лайки: </span>
                        <span class="btn btn-primary posts-count enabled" style="pointer-events: none; opacity: 1; cursor: default; min-width: 120px;">Посты: </span>
                    </div>
                </li>
                <li class="list-group-item d-none d-flex align-items-center female-profile">
                    <div class="position-relative me-3">
                        <img src="/resources/avatars/{670ADCF9-1016-4B4B-ACDD-FAC39DC0DB99}.png" alt="Avatar"
                             class="rounded-circle" style="width: 50px; height: 50px;">
                        <i class="fas fa-crown d-none position-absolute top-0 start-50 translate-middle-x"></i>
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-inline">
                            <a href="#" class="text-decoration-none fw-bold text-dark user-name" data-navigo >user</a>
                            <span class="text-muted user-create-time ms-2 fst-italic">Создан: 21.12.2022</span>
                        </div>
                        <span class="text-muted user-birthday d-block mt-1">Дата рождения: 15.02.2000</span>
                    </div>
                    <div class="d-flex ms-auto gap-2">
                        <span class="btn btn-primary enabled likes-count" style="pointer-events: none; opacity: 1; cursor: default; min-width: 120px;">Лайки: </span>
                        <span class="btn btn-primary enabled posts-count" style="pointer-events: none; opacity: 1; cursor: default; min-width: 120px;">Посты: </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
