<div id = "communities" class="d-flex flex-column w-75 mt-3">
    <div class="card d-none" data-guid="0">
        <div class="card-body bg-light d-flex justify-content-between align-items-center">
            <a href="/post" class="comm-title card-title fw-bold text-decoration-none fs-3"></a>
            <div>
                <button class="sub btn btn-primary d-none">Подписаться</button>
                <button class="unsub btn btn-danger d-none">Отписаться</button>
            </div>
        </div>
    </div>
</div>
