<div class="d-flex flex-column w-75">
    <div class="card mt-3" data-guid="0" data-isLiked="true">
        <div class="card-body">
            <div class="card-body">
                <p id="post-information" class="card-text"></p>
                <h4 id="post-heading" class="card-title"></h4>
                <hr class="divider">
                <img id="post-image" class="d-none mb-2 w-25 h-25 object-fit-cover" alt="Post Image" src=""/>
                <br>
                <span id="post-text" class="card-text"></span>
                <a href="#" id="read-more" class="text-primary d-none d-block">Читать полностью</a>
                <div class="post-footer mt-4">
                    <p id="post-hashtags" class="card-text fs-6 text-muted"></p>
                    <div class="d-flex align-items-center mb-2" id="post-geo-container">
                        <i class="bi bi-geo-alt me-2"></i>
                        <p id="post-geo" class="mb-0 fs-6 text-muted"></p>
                    </div>
                    <p id="post-reading-time" class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
                <span id="comment-count">5</span>
                <i class="bi bi-chat-left-text" style="cursor: pointer;"></i>
            </div>
            <div class="d-flex align-items-center">
                <i id="like-btn" class="me-2 bi bi-heart" style="cursor: pointer;"></i>
                <span id="like-count">10</span>
            </div>
        </div>
    </div>
</div>